In [1]:
import pandas as pd

In [2]:
from pathlib import Path

In [3]:
#copybook_data[ ['leading_whitespace','new_leading_whitespace'] ]
#metadata = pd.read_excel( '2022-12-15_IDMS_table_descriptions.xlsx', index_col=0 )
#metadata.index.name = "table_index"
#wanted_subsystem = "DISCREPANCY PROCESSING AND ACCOUNT INFORMATION INQUIRY"
#metadata[ metadata[ wanted_subsystem ] == 1 ].copy()

In [4]:
data = pd.read_excel( "2022-12-08_PLAS_IDMS_data_structure_WITH_VALID_VALUES.xlsx", index_col=0 )

In [5]:
data = data.rename( columns={ 'indent_number': 'data_level'  } )

In [6]:
data.shape

(89288, 18)

In [7]:
farms_table_indices = pd.read_csv( "2023-02-01_table_indices_within_FPAC_schema.csv", index_col=0)

In [8]:
wanted_table_indices = farms_table_indices['table_index'].to_list()

In [9]:
farms_data = data[ data['table_index'].isin( wanted_table_indices ) ]

In [10]:
#set( [ tuple(_) for _ in farms_data[ ['table_name','table_created_date'] ].values] )

In [11]:
farms_data['table_name'].unique()

array(['ACCT', 'APPEAL', 'APPLCMT', 'AREAOFC', 'AVLBLFD', 'BDGTCTRL',
       'BDGTSTAF', 'CMMTS-RCRD', 'CODEREC', 'CRBREC', 'DIVREC', 'EQPMTS',
       'EQPTCTRL', 'EVENT-HN', 'EXPSCTRL', 'FARMS-ACCT-DATA',
       'FARMS-ACQD-PROP', 'FARMS-ADPS-CNTRL', 'FARMS-ADVANCE',
       'FARMS-AID', 'FARMS-ALTMADJ', 'FARMS-ALTMADJ-NEW', 'FARMS-ALTMT',
       'FARMS-AMORTD-CST', 'FARMS-APROPTN-LOOKUP', 'FARMS-ASSISTANCE',
       'FARMS-ASSOC-PRIN-BOND', 'FARMS-CASE', 'FARMS-CDEJUNC',
       'FARMS-CDESTR', 'FARMS-CHECKS', 'FARMS-CK-CNTRL', 'FARMS-CK-INFO',
       'FARMS-CK-INFO-FRADS', 'FARMS-CLIENT', 'FARMS-CLIENT-SFSI',
       'FARMS-COHORT', 'FARMS-CRBUR', 'FARMS-CRCLAIMS', 'FARMS-CRRATE',
       'FARMS-CTY-LOOKUP', 'FARMS-DALLOT', 'FARMS-DALLOT-DTL',
       'FARMS-DALLOT-OBLGN', 'FARMS-DALLOT-OTH', 'FARMS-DAPROC',
       'FARMS-DISCRP', 'FARMS-DISCRP-MISC', 'FARMS-DSTR-SETASD',
       'FARMS-DTEREC', 'FARMS-DTL-RATE', 'FARMS-EASMNT', 'FARMS-EQTYRVRS',
       'FARMS-EQUITY', 'FARMS-FD-SIDE', 'FARMS-FDCDE', 'FARMS-GLBORR',
       'FARMS-GLLNDR', 'FARMS-IMCASE', 'FARMS-INITMAN',
       'FARMS-INSRNC-AUTHY', 'FARMS-INSTALLMENT', 'FARMS-INSURANCE',
       'FARMS-INT-ASSTNC', 'FARMS-INT-BDWN', 'FARMS-INVSTR-DTL',
       'FARMS-INVSTR-INFO', 'FARMS-INVSTR-INFO-MISC',
       'FARMS-JDGMT-3RD-PARTY', 'FARMS-JOB-RESTART', 'FARMS-JURDCTN',
       'FARMS-LESSEE', 'FARMS-LN-AID', 'FARMS-LN-NO-INT', 'FARMS-LNRATE',
       'FARMS-LOAN', 'FARMS-LOAN-DRE', 'FARMS-LOAN-OTC',
       'FARMS-LOAN-SFSI', 'FARMS-LSE-INFO', 'FARMS-MALLOT',
       'FARMS-MALLOT-OBLGN', 'FARMS-MALLOT-OTH', 'FARMS-MSTR-RATE',
       'FARMS-NOTIFY', 'FARMS-NOTIFY-CNTRL', 'FARMS-OBLGN',
       'FARMS-ORDERS', 'FARMS-ORGZTN-LOOKUP', 'FARMS-OVFLO',
       'FARMS-PD-ACCT-RVRSL', 'FARMS-PLEREP', 'FARMS-PROG-SAVE',
       'FARMS-PRTLSALE', 'FARMS-RDA-ALTMT', 'FARMS-RDA-AREA-DALLOT',
       'FARMS-RDA-AREA-OBLGN', 'FARMS-RDA-DALLOT-DTL',
       'FARMS-RDA-DALLOT-OBLGN', 'FARMS-RDA-FD-SIDE',
       'FARMS-RDA-INSRNC-AUTHY', 'FARMS-RDA-MALLOT',
       'FARMS-RDA-MALLOT-OBLGN', 'FARMS-RDA-RGN-DTL',
       'FARMS-RDA-RGN-OBLGN', 'FARMS-REJECT-TRNSCTN', 'FARMS-RENTL-CNTRL',
       'FARMS-RENTL-DTL', 'FARMS-RENTL-FY-UNIT', 'FARMS-RENTL-TTL',
       'FARMS-RESCHEDULE', 'FARMS-RH-DFRL', 'FARMS-SRCFDS',
       'FARMS-ST-LOOKUP', 'FARMS-STAT', 'FARMS-STOPPER', 'FARMS-SUBSIDY',
       'FARMS-SUBSRC', 'FARMS-TRNSCTN-CNTRL', 'FARMS-TRNSCTN-RVRSL',
       'FARMS-TRRATE', 'FARMS-TRSTR', 'FARMS-USER-AUTHY',
       'FARMS-USER-DOMAIN', 'FARMS-USER-STATCS', 'FARMS-USERS', 'FDBDGT',
       'FHARREC', 'FIELD-HN', 'GL-MSTACCT', 'GLACCT', 'GLACCTC', 'GLBLKC',
       'GLBLKD', 'GLCNTRL', 'GLENTRY', 'GLENTTL', 'GLMNCDE', 'GLMNCDEC',
       'GLMSTR', 'GLNTRYC', 'GLNTRYD', 'GLOVA', 'HEAROFC', 'LOCTN-LOOKUP',
       'NATIONAL', 'NHEAROFC', 'OBLGCTRL', 'OBLGDTL', 'OFCSPC',
       'PRESBDGT', 'PROJHDR', 'PROJREC', 'PSTNFIL', 'RDADATA',
       'RECORD-HN', 'RMSADRS', 'RMSDATA', 'RMSTIME', 'SITE-LOOKUP',
       'SOCCDE', 'ST-RCRD', 'STAFF-RCRD', 'STAFFYR', 'STNDBDGT', 'SYMBOL',
       'TRNING', 'TRUCKRNT', 'USER-HN', 'USERINFO', 'USGLACT'],
      dtype=object)

In [12]:
data = farms_data

In [13]:
data.head()

,table_name,table_index,table_vers,table_created_date,table_updated_date,field_name,data_type,data_level,indent_space_count,declaration_step,end,raw_field_name,BLANK ON,INDEXED BY,OCCURS,OLQ,REDEFINES,VALUE
102,ACCT,3,1,1987-09-21,1987-09-24,GOVT-ACCT,NaN,5,3,100,DISPLAY,GOVT-ACCT-821,NaN,NaN,NaN,NaN,NaN,NaN
103,ACCT,3,1,1987-09-21,1987-09-24,ACCT,9(4),10,4,200,DISPLAY,ACCT-821,NaN,NaN,NaN,NaN,NaN,NaN
104,ACCT,3,1,1987-09-21,1987-09-24,SUB-ACCT,99,10,4,300,DISPLAY,SUB-ACCT-821,NaN,NaN,NaN,NaN,NaN,NaN
105,ACCT,3,1,1987-09-21,1987-09-24,OBJ-CLS,XX,5,3,400,DISPLAY,OBJ-CLS-821,NaN,NaN,NaN,NaN,NaN,NaN
106,ACCT,3,1,1987-09-21,1987-09-24,AMT,9(12)V99,5,3,500,COMP-3,AMT-821,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
len( data )

3115

In [15]:
data['data_level'].value_counts().sum()

3115

In [16]:
data['indent_space_count'].value_counts()

3    1896
4     848
5     280
7      76
6      15
Name: indent_space_count, dtype: int64

In [17]:
import numpy as np

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3115 entries, 102 to 59294
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   table_name          3115 non-null   object
 1   table_index         3115 non-null   int64
 2   table_vers          3115 non-null   int64
 3   table_created_date  3115 non-null   datetime64[ns]
 4   table_updated_date  2901 non-null   datetime64[ns]
 5   field_name          3115 non-null   object
 6   data_type           2733 non-null   object
 7   data_level          3115 non-null   int64
 8   indent_space_count  3115 non-null   int64
 9   declaration_step    3115 non-null   int64
 10  end                 3115 non-null   object
 11  raw_field_name      3115 non-null   object
 12  BLANK ON            0 non-null      object
 13  INDEXED BY          0 non-null      object
 14  OCCURS              184 non-null    object
 15  OLQ                 2 non-null      object
 16  REDEFINES           29 non-null     object
 17  VALUE               81 non-null     object
dtypes: datetime64[ns](2), int64(5), object(11)
memory usage: 462.4+ KB

In [19]:
data.sample(10)

,table_name,table_index,table_vers,table_created_date,table_updated_date,field_name,data_type,data_level,indent_space_count,declaration_step,end,raw_field_name,BLANK ON,INDEXED BY,OCCURS,OLQ,REDEFINES,VALUE
18147,FARMS-DISCRP,710,89,1983-03-03,1999-11-18,DISCRP-CDE,X(2),5,3,1600,DISPLAY,DISCRP-CDE,NaN,NaN,4,NaN,NaN,NaN
9593,BDGTSTAF,361,2,1987-12-16,NaT,OFC-SPC-CTY-PTIME-NBR,9(06),5,3,800,DISPLAY,OFC-SPC-CTY-PTIME-NBR-4533,NaN,NaN,3,NaN,NaN,NaN
20000,FARMS-MSTR-RATE,761,1,1990-12-20,1999-11-18,SBSY-RATE,9(08)V9999,5,3,1000,COMP-3,SBSY-RATE,NaN,NaN,NaN,NaN,NaN,NaN
19667,FARMS-INVSTR-INFO,740,1,1982-09-29,1999-11-18,FILLER,XXX,5,3,2400,DISPLAY,FILLER,NaN,NaN,NaN,NaN,NaN,NaN
39253,RMSDATA,1473,2,1984-10-30,1988-03-29,SBORDNTN-SCRTY-INT-OL-AMT,S9(9),5,3,8600,COMP-3,SBORDNTN-SCRTY-INT-OL-AMT-101,NaN,NaN,NaN,NaN,NaN,NaN
17280,FARMS-CK-INFO-FRADS,683,1,1983-02-01,1999-11-18,CR-REPT-FEE-CDE,9(1),5,3,1200,DISPLAY,CR-REPT-FEE-CDE,NaN,NaN,NaN,NaN,NaN,NaN
20001,FARMS-MSTR-RATE,761,1,1990-12-20,1999-11-18,FILLER,X(0046),5,3,1100,DISPLAY,FILLER,NaN,NaN,NaN,NaN,NaN,NaN
17010,FARMS-ALTMADJ,664,3,2005-04-01,2005-04-07,BLK-NBR,9(4),5,3,800,DISPLAY,BLK-NBR,NaN,NaN,NaN,NaN,NaN,NaN
29171,NATIONAL,1150,1,1988-05-25,1988-06-10,LST-APPEAL-FY,9(02),10,4,1100,DISPLAY,LST-APPEAL-FY-4600,NaN,NaN,NaN,NaN,NaN,NaN
20435,FARMS-RDA-MALLOT-OBLGN,784,1,1992-06-12,1999-11-18,PPB-CDE-2-3,9(2),15,5,400,DISPLAY,PPB-CDE-2-3,NaN,NaN,NaN,NaN,NaN,NaN

# Remove suffixes from REDEFINES values

* should have done this in previous notebook that prepared the excel file, but I'm short on time now

In [20]:
suffix_data = pd.read_csv( '2023-01-10_IDMS_table_suffixes.csv' )

In [21]:
suffix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4126 entries, 0 to 4125
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           4126 non-null   int64
 1   leading_space_count  4126 non-null   int64
 2   table_index          4126 non-null   int64
 3   synonym_index        4126 non-null   int64
 4   modifies_line        4126 non-null   int64
 5   line                 4126 non-null   object
 6   synonym_name         4126 non-null   object
 7   affix_type           3010 non-null   object
 8   affix                3010 non-null   object
dtypes: int64(5), object(4)
memory usage: 290.2+ KB

In [22]:
suffix_data

,Unnamed: 0,leading_space_count,table_index,synonym_index,modifies_line,line,synonym_name,affix_type,affix
0,4,5,0,0,-1,RECORD ABSDOMN ...,ABSDOMN,SUFFIX,-4541
1,21,5,1,0,-1,RECORD ACCRLINK ...,ACCRLINK,PREFIX,W019-
2,115,5,2,0,-1,RECORD ACCRLINK ...,ACCRLINK,PREFIX,W019-
3,175,5,3,0,-1,RECORD ACCT ...,ACCT,SUFFIX,-821
4,194,5,4,0,-1,RECORD ACCTG-CNTL ...,ACCTG-CNTL,SUFFIX,-MTH
...,...,...,...,...,...,...,...,...,...
4121,171295,5,3656,0,-1,RECORD 502-REPT-DTL-RCRD ...,502-REPT-DTL-RCRD,PREFIX,W139-
4122,171372,5,3657,0,-1,RECORD 502-REPT-DTL-RCRD ...,502-REPT-DTL-RCRD,PREFIX,W139-
4123,171441,5,3658,0,-1,RECORD 502-REPT-DTL-RCRD ...,502-REPT-DTL-RCRD,PREFIX,W139-
4124,171512,5,3659,0,-1,RECORD 502-TEMP-DTL-RCRD ...,502-TEMP-DTL-RCRD,PREFIX,W502-
4125,171583,5,3660,0,-1,RECORD 502-TEMP-DTL-RCRD ...,502-TEMP-DTL-RCRD,PREFIX,W502-

In [23]:
wanted_suffix_cols = [ 'table_index', 'affix_type', 'affix' ]

In [24]:
replacements = suffix_data[ wanted_suffix_cols ].dropna().values

In [25]:
replacements

array([[0, 'SUFFIX', '-4541'],
       [1, 'PREFIX', 'W019-'],
       [2, 'PREFIX', 'W019-'],
       ...,
       [3658, 'PREFIX', 'W139-'],
       [3659, 'PREFIX', 'W502-'],
       [3660, 'PREFIX', 'W502-']], dtype=object)

In [26]:
len( replacements )

3010

In [27]:
import re

In [28]:
for (table_index, affix_type, remove_me) in replacements:

    selection_criterion = (data['table_index'] == table_index) & data['REDEFINES'].notna()

    n_matches_found = selection_criterion.sum()

    if n_matches_found == 0:
        continue
    print( table_index, affix_type, remove_me, "n found=", n_matches_found )

    if affix_type == 'PREFIX':
        pattern = re.compile( '^' + str( remove_me ) )
    else:
        pattern = re.compile( str( remove_me )+ '$' )

    old = data.loc[ selection_criterion, 'REDEFINES' ].copy().iloc[0]
    data.loc[ selection_criterion, 'REDEFINES' ] = data.loc[ selection_criterion, 'REDEFINES' ].str.replace( pattern, "" )
    new = data.loc[ selection_criterion, 'REDEFINES' ].copy().iloc[0]
    
    print( "\t", old, "became", new )

682 SUFFIX -350 n found= 1
	 CTY-OFC-MAILG became CTY-OFC-MAILG
683 SUFFIX -351 n found= 1
	 CTY-OFC-MAILG became CTY-OFC-MAILG
726 SUFFIX -605 n found= 4
	 BORR-RCRD-TYP-1 became BORR-RCRD-TYP-1
729 SUFFIX -600 n found= 1
	 LNDR-RCRD-TYP-1 became LNDR-RCRD-TYP-1
730 SUFFIX -216 n found= 1
	 CASE-ID became CASE-ID
769 SUFFIX -320 n found= 1
	 INT-RATE-BORR became INT-RATE-BORR
815 SUFFIX -205 n found= 1
	 USER-ID became USER-ID
1064 SUFFIX -151 n found= 3
	 CTY-CDE-FMHA-151 became CTY-CDE-FMHA
1330 SUFFIX -107 n found= 1
	 SRVCG-OFC-CDE-RGN-107 became SRVCG-OFC-CDE-RGN
1472 SUFFIX -100 n found= 5
	 STAT-OF-WEEKS-UPDTE-ALL-100 became STAT-OF-WEEKS-UPDTE-ALL

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3115 entries, 102 to 59294
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   table_name          3115 non-null   object
 1   table_index         3115 non-null   int64
 2   table_vers          3115 non-null   int64
 3   table_created_date  3115 non-null   datetime64[ns]
 4   table_updated_date  2901 non-null   datetime64[ns]
 5   field_name          3115 non-null   object
 6   data_type           2733 non-null   object
 7   data_level          3115 non-null   int64
 8   indent_space_count  3115 non-null   int64
 9   declaration_step    3115 non-null   int64
 10  end                 3115 non-null   object
 11  raw_field_name      3115 non-null   object
 12  BLANK ON            0 non-null      object
 13  INDEXED BY          0 non-null      object
 14  OCCURS              184 non-null    object
 15  OLQ                 2 non-null      object
 16  REDEFINES           29 non-null     object
 17  VALUE               81 non-null     object
dtypes: datetime64[ns](2), int64(5), object(11)
memory usage: 462.4+ KB

In [30]:
def Create_Copybook_Parts( grp ):
    
    table_index = grp['table_index'].iloc[0]
    table_ver = grp['table_vers'].iloc[0]
    table_n_fields = len(grp)
    table_name = grp['table_name'].iloc[0]
    
    print( 'table', table_index,
          'ver', table_ver,
          'n fields =', table_n_fields,
          'name =', table_name
    )
    
    temp_index = grp.index
          
    sorted_grp = grp.sort_values( 'declaration_step' )
    step_numbers = grp['declaration_step'].astype(str).str.zfill( 6 )
    comment_column = pd.Series( [ " " for _ in range( len( grp ) ) ], index=temp_index )
    indent = 1 + ( grp['indent_space_count'].astype( int ) - 2 ) * 4
    indent_spaces = indent.apply( lambda i: " " * i )
    # indent_number
    sep = pd.Series( [ "  " for _ in range( len( grp ) ) ], index=temp_index )
    
    clauses = [ 'PIC', 'BLANK ON', 'INDEXED BY', 'OCCURS', 'OLQ', 'REDEFINES', 'VALUE' ]
    formatted_cols = {}
    for clause in clauses:
        if clause == 'PIC':
            col_name = 'data_type'
        else:
            col_name = clause
        col = grp[col_name]
        col[ col.notna() ] = col[ col.notna() ].apply( lambda t:  f'{clause} {t}' )
        formatted_cols[ col_name ] = col 
    
    formatted_data = dict(
        step_numbers=step_numbers,
        comment_column=comment_column,
        indent_spaces=indent_spaces,
        data_level = grp['data_level'].astype(str).str.zfill( 2 ),
        sep = sep,
        field_name = grp['field_name'],
        pic_clauses= formatted_cols[ 'data_type' ],
        comp_clause = grp[ 'end' ],
        value_clauses = formatted_cols[ 'VALUE' ],
        occurs_clauses = formatted_cols[ 'OCCURS' ],
        redefines_clauses = formatted_cols[ 'REDEFINES' ],
        blank_on_clauses = formatted_cols[ 'BLANK ON' ],
        indexed_by_clauses = formatted_cols[ 'INDEXED BY' ],
        olq_clauses = formatted_cols[ 'OLQ' ],
    )
    
    lengths = { len(_) for _ in formatted_data.values() }
    assert len( lengths ) == 1
    assert lengths.pop() == table_n_fields
    
    df = pd.DataFrame( formatted_data )
    
    assert len( df ) == table_n_fields, f'len( df ) = {len( df )}, table_n_fields = {table_n_fields}\n\n{formatted_data}'

    table_name_line = pd.DataFrame( columns=df.columns )
    table_name_line.loc[ 0, 'step_numbers' ] = str( 50 ).zfill( 6 )
    table_name_line.loc[ 0, 'comment_column' ] = " "
    table_name_line.loc[ 0, 'indent_spaces' ] = "" # " "
    table_name_line.loc[ 0, 'data_level' ] = '01'
    table_name_line.loc[ 0, 'sep' ] = "  "
    table_name_line.loc[ 0, 'field_name' ] = table_name
    table_name_line = table_name_line.fillna( '' )

    df = pd.concat( ( table_name_line, df ), axis=0 )
    return df

In [31]:
formatted_df = data.groupby( 'table_index' ).apply( Create_Copybook_Parts )

table 3 ver 1 n fields = 7 name = ACCT
table 281 ver 3 n fields = 142 name = APPEAL
table 282 ver 1 n fields = 3 name = APPLCMT
table 318 ver 2 n fields = 19 name = AREAOFC
table 341 ver 3 n fields = 4 name = AVLBLFD
table 360 ver 2 n fields = 6 name = BDGTCTRL
table 361 ver 2 n fields = 20 name = BDGTSTAF
table 425 ver 1 n fields = 4 name = CMMTS-RCRD
table 450 ver 1 n fields = 9 name = CODEREC
table 472 ver 1 n fields = 33 name = CRBREC
table 575 ver 1 n fields = 8 name = DIVREC
table 609 ver 1 n fields = 10 name = EQPMTS
table 610 ver 1 n fields = 4 name = EQPTCTRL
table 633 ver 1 n fields = 8 name = EVENT-HN
table 637 ver 1 n fields = 4 name = EXPSCTRL
table 652 ver 11 n fields = 29 name = FARMS-ACCT-DATA
table 659 ver 11 n fields = 114 name = FARMS-ACQD-PROP
table 660 ver 90 n fields = 5 name = FARMS-ADPS-CNTRL
table 661 ver 1 n fields = 6 name = FARMS-ADVANCE
table 662 ver 2 n fields = 16 name = FARMS-AID
table 664 ver 3 n fields = 36 name = FARMS-ALTMADJ
table 665 ver 1 n fields = 37 name = FARMS-ALTMADJ-NEW
table 666 ver 1 n fields = 5 name = FARMS-ALTMT
table 667 ver 1 n fields = 7 name = FARMS-AMORTD-CST
table 668 ver 2 n fields = 10 name = FARMS-APROPTN-LOOKUP
table 670 ver 3 n fields = 12 name = FARMS-ASSISTANCE
table 671 ver 1 n fields = 7 name = FARMS-ASSOC-PRIN-BOND
table 672 ver 90 n fields = 6 name = FARMS-CASE
table 673 ver 1 n fields = 4 name = FARMS-CDEJUNC
table 675 ver 4 n fields = 24 name = FARMS-CDESTR
table 679 ver 5 n fields = 9 name = FARMS-CHECKS
table 680 ver 2 n fields = 8 name = FARMS-CK-CNTRL
table 682 ver 3 n fields = 28 name = FARMS-CK-INFO
table 683 ver 1 n fields = 28 name = FARMS-CK-INFO-FRADS
table 689 ver 15 n fields = 76 name = FARMS-CLIENT
table 692 ver 5 n fields = 16 name = FARMS-CLIENT-SFSI
table 693 ver 1 n fields = 2 name = FARMS-COHORT
table 694 ver 1 n fields = 32 name = FARMS-CRBUR
table 698 ver 4 n fields = 59 name = FARMS-CRCLAIMS
table 701 ver 3 n fields = 8 name = FARMS-CRRATE
table 702 ver 1 n fields = 16 name = FARMS-CTY-LOOKUP
table 704 ver 2 n fields = 8 name = FARMS-DALLOT
table 706 ver 4 n fields = 28 name = FARMS-DALLOT-DTL
table 707 ver 2 n fields = 9 name = FARMS-DALLOT-OBLGN
table 708 ver 1 n fields = 1 name = FARMS-DALLOT-OTH
table 709 ver 2 n fields = 3 name = FARMS-DAPROC
table 710 ver 89 n fields = 48 name = FARMS-DISCRP
table 711 ver 2 n fields = 6 name = FARMS-DISCRP-MISC
table 714 ver 3 n fields = 39 name = FARMS-DSTR-SETASD
table 715 ver 1 n fields = 7 name = FARMS-DTEREC
table 716 ver 1 n fields = 12 name = FARMS-DTL-RATE
table 717 ver 2 n fields = 20 name = FARMS-EASMNT
table 718 ver 1 n fields = 13 name = FARMS-EQTYRVRS
table 721 ver 5 n fields = 34 name = FARMS-EQUITY
table 722 ver 1 n fields = 6 name = FARMS-FD-SIDE
table 723 ver 1 n fields = 4 name = FARMS-FDCDE
table 726 ver 8 n fields = 233 name = FARMS-GLBORR
table 729 ver 3 n fields = 121 name = FARMS-GLLNDR
table 730 ver 1 n fields = 6 name = FARMS-IMCASE
table 731 ver 1 n fields = 39 name = FARMS-INITMAN
table 732 ver 2 n fields = 15 name = FARMS-INSRNC-AUTHY
table 733 ver 1 n fields = 6 name = FARMS-INSTALLMENT
table 734 ver 1 n fields = 5 name = FARMS-INSURANCE
table 735 ver 1 n fields = 7 name = FARMS-INT-ASSTNC
table 738 ver 7 n fields = 16 name = FARMS-INT-BDWN
table 739 ver 3 n fields = 29 name = FARMS-INVSTR-DTL
table 740 ver 1 n fields = 24 name = FARMS-INVSTR-INFO
table 741 ver 1 n fields = 3 name = FARMS-INVSTR-INFO-MISC
table 742 ver 2 n fields = 9 name = FARMS-JDGMT-3RD-PARTY
table 743 ver 1 n fields = 4 name = FARMS-JOB-RESTART
table 744 ver 90 n fields = 4 name = FARMS-JURDCTN
table 745 ver 3 n fields = 15 name = FARMS-LESSEE
table 746 ver 4 n fields = 13 name = FARMS-LN-AID
table 747 ver 1 n fields = 4 name = FARMS-LN-NO-INT
table 749 ver 2 n fields = 5 name = FARMS-LNRATE
table 751 ver 5 n fields = 45 name = FARMS-LOAN
table 752 ver 1 n fields = 5 name = FARMS-LOAN-DRE
table 753 ver 1 n fields = 12 name = FARMS-LOAN-OTC
table 754 ver 1 n fields = 8 name = FARMS-LOAN-SFSI
table 757 ver 4 n fields = 32 name = FARMS-LSE-INFO
table 758 ver 1 n fields = 16 name = FARMS-MALLOT
table 759 ver 3 n fields = 9 name = FARMS-MALLOT-OBLGN
table 760 ver 1 n fields = 1 name = FARMS-MALLOT-OTH
table 761 ver 1 n fields = 11 name = FARMS-MSTR-RATE
table 762 ver 2 n fields = 33 name = FARMS-NOTIFY
table 763 ver 1 n fields = 3 name = FARMS-NOTIFY-CNTRL
table 765 ver 4 n fields = 48 name = FARMS-OBLGN
table 766 ver 89 n fields = 6 name = FARMS-ORDERS
table 767 ver 1 n fields = 21 name = FARMS-ORGZTN-LOOKUP
table 768 ver 90 n fields = 9 name = FARMS-OVFLO
table 769 ver 2 n fields = 41 name = FARMS-PD-ACCT-RVRSL
table 770 ver 1 n fields = 63 name = FARMS-PLEREP
table 771 ver 1 n fields = 1 name = FARMS-PROG-SAVE
table 773 ver 2 n fields = 14 name = FARMS-PRTLSALE
table 775 ver 1 n fields = 5 name = FARMS-RDA-ALTMT
table 776 ver 2 n fields = 24 name = FARMS-RDA-AREA-DALLOT
table 777 ver 1 n fields = 10 name = FARMS-RDA-AREA-OBLGN
table 779 ver 1 n fields = 24 name = FARMS-RDA-DALLOT-DTL
table 780 ver 1 n fields = 10 name = FARMS-RDA-DALLOT-OBLGN
table 781 ver 1 n fields = 6 name = FARMS-RDA-FD-SIDE
table 782 ver 1 n fields = 16 name = FARMS-RDA-INSRNC-AUTHY
table 783 ver 1 n fields = 19 name = FARMS-RDA-MALLOT
table 784 ver 1 n fields = 10 name = FARMS-RDA-MALLOT-OBLGN
table 785 ver 1 n fields = 14 name = FARMS-RDA-RGN-DTL
table 786 ver 1 n fields = 16 name = FARMS-RDA-RGN-OBLGN
table 787 ver 1 n fields = 4 name = FARMS-REJECT-TRNSCTN
table 788 ver 1 n fields = 14 name = FARMS-RENTL-CNTRL
table 789 ver 2 n fields = 23 name = FARMS-RENTL-DTL
table 790 ver 1 n fields = 3 name = FARMS-RENTL-FY-UNIT
table 791 ver 1 n fields = 10 name = FARMS-RENTL-TTL
table 792 ver 1 n fields = 4 name = FARMS-RESCHEDULE
table 794 ver 1 n fields = 22 name = FARMS-RH-DFRL
table 796 ver 1 n fields = 2 name = FARMS-SRCFDS
table 797 ver 1 n fields = 8 name = FARMS-ST-LOOKUP
table 799 ver 2 n fields = 9 name = FARMS-STAT
table 800 ver 1 n fields = 1 name = FARMS-STOPPER
table 802 ver 4 n fields = 21 name = FARMS-SUBSIDY
table 803 ver 1 n fields = 3 name = FARMS-SUBSRC
table 804 ver 90 n fields = 2 name = FARMS-TRNSCTN-CNTRL
table 808 ver 6 n fields = 28 name = FARMS-TRNSCTN-RVRSL
table 809 ver 1 n fields = 5 name = FARMS-TRRATE
table 810 ver 1 n fields = 6 name = FARMS-TRSTR
table 811 ver 1 n fields = 4 name = FARMS-USER-AUTHY
table 812 ver 90 n fields = 6 name = FARMS-USER-DOMAIN
table 813 ver 1 n fields = 14 name = FARMS-USER-STATCS
table 815 ver 2 n fields = 13 name = FARMS-USERS
table 817 ver 1 n fields = 4 name = FDBDGT
table 824 ver 5 n fields = 17 name = FHARREC
table 825 ver 1 n fields = 4 name = FIELD-HN
table 866 ver 2 n fields = 2 name = GL-MSTACCT
table 873 ver 2 n fields = 11 name = GLACCT
table 874 ver 1 n fields = 4 name = GLACCTC
table 878 ver 2 n fields = 11 name = GLBLKC
table 879 ver 1 n fields = 17 name = GLBLKD
table 880 ver 1 n fields = 8 name = GLCNTRL
table 881 ver 1 n fields = 13 name = GLENTRY
table 884 ver 4 n fields = 14 name = GLENTTL
table 891 ver 2 n fields = 5 name = GLMNCDE
table 892 ver 1 n fields = 4 name = GLMNCDEC
table 894 ver 3 n fields = 18 name = GLMSTR
table 895 ver 1 n fields = 7 name = GLNTRYC
table 896 ver 1 n fields = 11 name = GLNTRYD
table 899 ver 3 n fields = 40 name = GLOVA
table 916 ver 1 n fields = 12 name = HEAROFC
table 1064 ver 2 n fields = 67 name = LOCTN-LOOKUP
table 1150 ver 1 n fields = 14 name = NATIONAL
table 1152 ver 1 n fields = 10 name = NHEAROFC
table 1157 ver 1 n fields = 5 name = OBLGCTRL
table 1158 ver 1 n fields = 9 name = OBLGDTL
table 1183 ver 1 n fields = 9 name = OFCSPC
table 1245 ver 1 n fields = 5 name = PRESBDGT
table 1261 ver 1 n fields = 5 name = PROJHDR
table 1270 ver 1 n fields = 14 name = PROJREC
table 1284 ver 1 n fields = 10 name = PSTNFIL
table 1330 ver 1 n fields = 27 name = RDADATA
table 1351 ver 1 n fields = 3 name = RECORD-HN
table 1472 ver 3 n fields = 38 name = RMSADRS
table 1473 ver 2 n fields = 133 name = RMSDATA
table 1476 ver 2 n fields = 5 name = RMSTIME
table 1972 ver 1 n fields = 21 name = SITE-LOOKUP
table 1994 ver 2 n fields = 6 name = SOCCDE
table 2037 ver 1 n fields = 7 name = ST-RCRD
table 2040 ver 1 n fields = 4 name = STAFF-RCRD
table 2042 ver 1 n fields = 6 name = STAFFYR
table 2060 ver 2 n fields = 29 name = STNDBDGT
table 2092 ver 1 n fields = 14 name = SYMBOL
table 2177 ver 3 n fields = 6 name = TRNING
table 2186 ver 1 n fields = 8 name = TRUCKRNT
table 2240 ver 1 n fields = 2 name = USER-HN
table 2250 ver 1 n fields = 33 name = USERINFO
table 2253 ver 1 n fields = 12 name = USGLACT

In [32]:
formatted_df.shape

(3286, 14)

In [33]:
formatted_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3286 entries, (3, 0) to (2253, 59294)
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   step_numbers        3286 non-null   object
 1   comment_column      3286 non-null   object
 2   indent_spaces       3286 non-null   object
 3   data_level          3286 non-null   object
 4   sep                 3286 non-null   object
 5   field_name          3286 non-null   object
 6   pic_clauses         2904 non-null   object
 7   comp_clause         3286 non-null   object
 8   value_clauses       252 non-null    object
 9   occurs_clauses      355 non-null    object
 10  redefines_clauses   200 non-null    object
 11  blank_on_clauses    171 non-null    object
 12  indexed_by_clauses  171 non-null    object
 13  olq_clauses         173 non-null    object
dtypes: object(14)
memory usage: 466.6+ KB

In [34]:
formatted_df['first_part'] = \
    formatted_df['step_numbers'] + \
    formatted_df['comment_column'] + \
    formatted_df['indent_spaces'] + \
    formatted_df['data_level'] + \
    formatted_df['sep'] + \
    formatted_df['field_name']

In [35]:
formatted_df

                  step_numbers comment_column indent_spaces data_level sep  \
table_index
3           0           000050                                      01
            102         000100                                      05
            103         000200                                      10
            104         000300                                      10
            105         000400                                      05
...                        ...            ...           ...        ...  ..
2253        59290       000800                                      10
            59291       000900                                      10
            59292       001000                                      10
            59293       001100                                      05
            59294       001200                                      05

                           field_name  pic_clauses comp_clause value_clauses  \
table_index
3           0                    ACCT
            102             GOVT-ACCT          NaN     DISPLAY           NaN
            103                  ACCT     PIC 9(4)     DISPLAY           NaN
            104              SUB-ACCT       PIC 99     DISPLAY           NaN
            105               OBJ-CLS       PIC XX     DISPLAY           NaN
...                               ...          ...         ...           ...
2253        59290       PRFX-LINE-NBR       PIC 99     DISPLAY           NaN
            59291        SFX-LINE-NBR        PIC X     DISPLAY           NaN
            59292    SUB-SFX-LINE-NBR        PIC 9     DISPLAY           NaN
            59293  DTE-LST-RGSTR-ACCT    PIC 9(06)     DISPLAY           NaN
            59294              FILLER  PIC X(0027)     DISPLAY           NaN

                  occurs_clauses redefines_clauses blank_on_clauses  \
table_index
3           0
            102              NaN               NaN              NaN
            103              NaN               NaN              NaN
            104              NaN               NaN              NaN
            105              NaN               NaN              NaN
...                          ...               ...              ...
2253        59290            NaN               NaN              NaN
            59291            NaN               NaN              NaN
            59292            NaN               NaN              NaN
            59293            NaN               NaN              NaN
            59294            NaN               NaN              NaN

                  indexed_by_clauses olq_clauses  \
table_index
3           0
            102                  NaN         NaN
            103                  NaN         NaN
            104                  NaN         NaN
            105                  NaN         NaN
...                              ...         ...
2253        59290                NaN         NaN
            59291                NaN         NaN
            59292                NaN         NaN
            59293                NaN         NaN
            59294                NaN         NaN

                                             first_part
table_index
3           0                           000050 01  ACCT
            102               000100      05  GOVT-ACCT
            103                000200          10  ACCT
            104            000300          10  SUB-ACCT
            105                 000400      05  OBJ-CLS
...                                                 ...
2253        59290     000800          10  PRFX-LINE-NBR
            59291      000900          10  SFX-LINE-NBR
            59292  001000          10  SUB-SFX-LINE-NBR
            59293    001100      05  DTE-LST-RGSTR-ACCT
            59294                001200      05  FILLER

[3286 rows x 15 columns]

In [36]:
formatted_df['first_part_len'] = formatted_df['first_part'].apply( len )

In [37]:
#formatted_df['first_part_len'].hist()

In [38]:
(formatted_df['first_part_len'] >= 49).sum()

35

In [39]:
#formatted_df['first_part_len'].describe()

In [40]:
#long_rows = formatted_df[ formatted_df['first_part_len'] >= 49].index

In [41]:
#formatted_df.loc[long_rows, 'first_part_len'].describe()

In [42]:
#formatted_df['first_part'] = formatted_df['first_part'].str.ljust(50)

In [43]:
formatted_df['white_space_middle_part'] = formatted_df['first_part_len'].apply( lambda l: (" " * (50 - l)) if l < 49 else " " )

In [44]:
formatted_df['white_space_middle_part'].values

array(['                                   ', '                         ',
       '                          ', ..., '              ',
       '                ', '                            '], dtype=object)

# Copybook Syntax

* "OCCURS" and "REDEFINES" clauses go before PIC clause
* "VALUE" clause is either in lieu of or after PIC clause
* COMP-3 goes after PIC clause

In [45]:
formatted_df = formatted_df.fillna("")

In [46]:
formatted_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3286 entries, (3, 0) to (2253, 59294)
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   step_numbers             3286 non-null   object
 1   comment_column           3286 non-null   object
 2   indent_spaces            3286 non-null   object
 3   data_level               3286 non-null   object
 4   sep                      3286 non-null   object
 5   field_name               3286 non-null   object
 6   pic_clauses              3286 non-null   object
 7   comp_clause              3286 non-null   object
 8   value_clauses            3286 non-null   object
 9   occurs_clauses           3286 non-null   object
 10  redefines_clauses        3286 non-null   object
 11  blank_on_clauses         3286 non-null   object
 12  indexed_by_clauses       3286 non-null   object
 13  olq_clauses              3286 non-null   object
 14  first_part               3286 non-null   object
 15  first_part_len           3286 non-null   int64
 16  white_space_middle_part  3286 non-null   object
dtypes: int64(1), object(16)
memory usage: 543.6+ KB

In [47]:
( (formatted_df['occurs_clauses'] != "") & (formatted_df['redefines_clauses'] != "") ).sum()

5

In [48]:
#formatted_df['redefines_clauses_len'] = formatted_df['redefines_clauses'].apply( len )

In [49]:
#formatted_df['redefines_clauses_len'].describe()

In [50]:
#formatted_df['occurs_clauses_len'] = formatted_df['occurs_clauses'].apply( len )

In [51]:
#formatted_df['occurs_clauses_len'].describe()

In [52]:
# Add a separating space to the pre-pic clauses when you have both
#formatted_df.loc[ (formatted_df['occurs_clauses'] != "") & (formatted_df['redefines_clauses'] != ""), 'occurs_clauses'] = \
#    formatted_df.loc[ (formatted_df['occurs_clauses'] != "") & (formatted_df['redefines_clauses'] != ""), 'occurs_clauses'].apply( lambda s: " " + s )

In [53]:
formatted_df['pre_pic_clause'] = formatted_df['redefines_clauses'] + formatted_df['occurs_clauses']

In [54]:
formatted_df[ 'pre_pic_clause' ] = formatted_df[ 'pre_pic_clause' ].str.replace( r'\s+', ' ' )

/var/folders/s1/vxj18vbs5glbmwk65x_l6vbc0000gp/T/ipykernel_51736/1587098794.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  formatted_df[ 'pre_pic_clause' ] = formatted_df[ 'pre_pic_clause' ].str.replace( r'\s+', ' ' )

In [55]:
formatted_df['second_part'] = formatted_df['pre_pic_clause']

# Diagnostic

In [56]:
formatted_df.loc[ (formatted_df['occurs_clauses'] != "") | (formatted_df['redefines_clauses'] != ""), 'second_part'].values[:50]

array(['OCCURS 35', 'OCCURS 3', 'OCCURS 3', 'OCCURS 3', 'OCCURS 3',
       'OCCURS 3', 'OCCURS 3', 'OCCURS 3', 'OCCURS 3', 'OCCURS 2',
       'OCCURS 4', 'OCCURS 4', 'OCCURS 5', 'OCCURS 5', 'OCCURS 5',
       'OCCURS 5', 'OCCURS 4', 'OCCURS 4', 'OCCURS 4', 'OCCURS 4',
       'OCCURS 4', 'OCCURS 4', 'OCCURS 4', 'OCCURS 3', 'OCCURS 2',
       'OCCURS 2', 'OCCURS 10', 'OCCURS 12', 'OCCURS 12',
       'REDEFINES INT-RATE-NOTE', 'REDEFINES INT-RATE-PREV',
       'REDEFINES CTY-OFC-MAILG-ACQD',
       'OCCURS 10 DEPENDING ON NBR-OF-OCCURS',
       'OCCURS 10 DEPENDING ON NBR-OF-OCCURS', 'OCCURS 2',
       'REDEFINES CASE-ID', 'OCCURS 10', 'OCCURS 4',
       'REDEFINES CTY-OFC-MAILG', 'OCCURS 4', 'REDEFINES CTY-OFC-MAILG',
       'OCCURS 2', 'REDEFINES CASE-NBR', 'REDEFINES CTY-OFC-MAILG-CLIENT',
       'REDEFINES NME-OBLR-GRP-1', 'REDEFINES CTY-OFC-MAILG-FSA',
       'OCCURS 16', 'OCCURS 4', 'OCCURS 10', 'OCCURS 4'], dtype=object)

In [57]:
#formatted_df.loc[ (formatted_df['occurs_clauses'] != "") & (formatted_df['redefines_clauses'] != ""), 'first_and_second_part'].values[:50]

In [58]:
formatted_df['second_part_len'] = formatted_df['second_part'].apply( len )

In [59]:
formatted_df['second_part_len'].describe()

count    3286.000000
mean        0.738284
std         3.514654
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        49.000000
Name: second_part_len, dtype: float64

In [60]:
pd.set_option( 'display.max_colwidth', None )

In [61]:
( formatted_df['pre_pic_clause'] != "" ).sum()

208

In [62]:
# Add a separating space to the pic clauses when you have a pre-pic clause
formatted_df.loc[ (formatted_df['pre_pic_clause'] != "") & (formatted_df['pic_clauses'] != ""), 'pic_clauses'] = \
    formatted_df.loc[ (formatted_df['pre_pic_clause'] != "") & (formatted_df['pic_clauses'] != ""), 'pic_clauses'].apply( lambda s: " " + s )

In [63]:
formatted_df['second_and_third_part'] = formatted_df['second_part'] + formatted_df['pic_clauses']

### Training clauses are COMP and VALUE

In [64]:
formatted_df['comp_clause']

table_index
3            0
             102      DISPLAY
             103      DISPLAY
             104      DISPLAY
             105      DISPLAY
                       ...
2253         59290    DISPLAY
             59291    DISPLAY
             59292    DISPLAY
             59293    DISPLAY
             59294    DISPLAY
Name: comp_clause, Length: 3286, dtype: object

In [65]:
formatted_df['comp_clause'].value_counts()

DISPLAY    2154
COMP-3      876
            171
COND         76
COMP          9
Name: comp_clause, dtype: int64

In [66]:
formatted_df.loc[ (formatted_df['comp_clause'] == 'DISPLAY'), 'comp_clause' ] = ''

In [67]:
formatted_df.loc[ (formatted_df['comp_clause'] == 'COND'), 'comp_clause' ] = ''

In [68]:
formatted_df['value_clauses'].value_counts()

               3205
VALUE 'S'        12
VALUE 'D'        12
VALUE 'C'        12
VALUE 'T'         8
VALUE 'U'         8
VALUE 'V'         8
VALUE '0'         6
VALUE '1'         6
VALUE 01          3
VALUE SPACE       2
VALUE 'R'         2
VALUE 'A'         2
Name: value_clauses, dtype: int64

In [69]:
( (formatted_df['comp_clause'] != "") & (formatted_df['value_clauses'] != "") ).sum()

0

In [70]:
# Add a separating space to the post-pic clauses when you have both
formatted_df.loc[ (formatted_df['comp_clause'] != "") & (formatted_df['value_clauses'] != ""), 'value_clauses'] = \
    formatted_df.loc[ (formatted_df['comp_clause'] != "") & (formatted_df['value_clauses'] != ""), 'value_clauses'].apply( lambda s: " " + s )

In [71]:
formatted_df['post_pic_clauses'] = formatted_df['comp_clause'] + formatted_df['value_clauses']

In [72]:
# Add a separating space to the pic clauses when you have a post-pic clause
formatted_df.loc[ (formatted_df['post_pic_clauses'] != "") & ((formatted_df['pre_pic_clause'] != "") | (formatted_df['pic_clauses'] != "")), 'post_pic_clauses'] = \
    formatted_df.loc[ (formatted_df['post_pic_clauses'] != "") & ((formatted_df['pre_pic_clause'] != "") | (formatted_df['pic_clauses'] != "")), 'post_pic_clauses'].apply( lambda s: " " + s )

In [73]:
#formatted_df.loc[formatted_df['post_pic_clauses'] != "", 'post_pic_clauses'].values

In [74]:
formatted_df[ 'second_and_third_part' ].values[:50]

array(['', '', 'PIC 9(4)', 'PIC 99', 'PIC XX', 'PIC 9(12)V99', 'PIC X',
       'PIC X(0023)', '', '', 'PIC 99', 'PIC 9(06)', 'PIC X', '',
       'PIC X(02)', 'PIC X(03)', 'PIC X(10)', '', 'PIC X(17)',
       'PIC X(12)', 'PIC X', 'PIC X(01)', '', 'PIC X(17)', 'PIC X(12)',
       '', '', 'PIC X(25)', 'PIC X(25)', 'PIC X(02)', '', 'PIC X(05)',
       'PIC X(04)', '', 'PIC X(03)', 'PIC X(07)', 'PIC X(04)', '',
       'PIC X(03)', 'PIC X(07)', 'PIC X(40)', '', 'PIC X(17)',
       'PIC X(12)', '', '', 'PIC X(25)', 'PIC X(25)', 'PIC X(2)', ''],
      dtype=object)

In [75]:
formatted_df[ 'second_third_and_forth_part'] = formatted_df[ 'second_and_third_part' ] + formatted_df['post_pic_clauses']

In [76]:
formatted_df[ 'second_third_and_forth_part'].sample(50).values

array(['PIC 99', 'PIC X(1)', 'PIC 9(3)', 'PIC X(06)', 'PIC X',
       "VALUE '1'", 'PIC 9(2)', 'PIC 9(06)', 'PIC X(07)',
       'PIC S9(10)V99 COMP-3', 'PIC S9(08)V99 COMP-3',
       'PIC S9(08)V99 COMP-3', '', 'PIC 9(06)', 'PIC 9(4)', '',
       'PIC X(22)', 'PIC S9(5)V9 COMP-3', 'PIC 9(06)', 'PIC 9(6)',
       'PIC 9', 'PIC 9(06)', 'PIC X', 'PIC 9(2)', 'PIC X(0034)', 'PIC 9',
       'PIC X(2)', 'PIC 9(1)', 'PIC S9(7)V99 COMP-3', 'OCCURS 8 PIC 9(5)',
       'PIC 99', 'PIC S9(10)V99 COMP-3', 'PIC S9(05) COMP-3',
       'PIC X(0048)', 'PIC S9(13)V99 COMP-3', 'PIC 9(1)', '', 'PIC 9(2)',
       'PIC X(19)', 'PIC 9(5)', '', 'PIC S9(5) COMP-3',
       'PIC S9(5)V99 COMP-3', 'PIC 9(2)', 'PIC 9(06)', 'PIC X(25)', '',
       '', '', 'PIC S9(7)V99 COMP-3'], dtype=object)

In [77]:
formatted_df[ 'second_third_and_forth_part_len'] = formatted_df[ 'second_third_and_forth_part' ].apply( len )

In [78]:
formatted_df[ 'second_third_and_forth_part_len'].describe()

count    3286.000000
mean       10.642422
std         7.065272
min         0.000000
25%         8.000000
50%         9.000000
75%        17.000000
max        54.000000
Name: second_third_and_forth_part_len, dtype: float64

In [79]:
formatted_df['content_len'] = formatted_df['first_part_len'] + formatted_df[ 'second_third_and_forth_part_len'] + 2 # separating space + period

In [80]:
formatted_df['content_len'].sort_values().tail(30)

table_index
1473         39276    67
             39280    68
664          17019    68
751          19775    68
726          18997    68
652          16375    68
769          20177    68
361          9600     69
1473         39175    70
             39193    70
             39187    70
718          18347    70
1473         39199    70
             39181    70
652          16394    71
682          17255    71
1064         27581    71
665          17055    74
1330         35095    77
689          17715    79
659          16849    81
1472         39162    83
824          20966    83
689          17665    85
731          19540    85
1472         39158    85
787          20475    91
1472         39163    92
             39160    94
             39159    95
Name: content_len, dtype: int64

In [81]:
formatted_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3286 entries, (3, 0) to (2253, 59294)
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   step_numbers                     3286 non-null   object
 1   comment_column                   3286 non-null   object
 2   indent_spaces                    3286 non-null   object
 3   data_level                       3286 non-null   object
 4   sep                              3286 non-null   object
 5   field_name                       3286 non-null   object
 6   pic_clauses                      3286 non-null   object
 7   comp_clause                      3286 non-null   object
 8   value_clauses                    3286 non-null   object
 9   occurs_clauses                   3286 non-null   object
 10  redefines_clauses                3286 non-null   object
 11  blank_on_clauses                 3286 non-null   object
 12  indexed_by_clauses               3286 non-null   object
 13  olq_clauses                      3286 non-null   object
 14  first_part                       3286 non-null   object
 15  first_part_len                   3286 non-null   int64
 16  white_space_middle_part          3286 non-null   object
 17  pre_pic_clause                   3286 non-null   object
 18  second_part                      3286 non-null   object
 19  second_part_len                  3286 non-null   int64
 20  second_and_third_part            3286 non-null   object
 21  post_pic_clauses                 3286 non-null   object
 22  second_third_and_forth_part      3286 non-null   object
 23  second_third_and_forth_part_len  3286 non-null   int64
 24  content_len                      3286 non-null   int64
dtypes: int64(4), object(21)
memory usage: 749.0+ KB

In [82]:
formatted_df['alternative_white_space_middle_part'] = [ " " * ( 72 - _ ) for _ in formatted_df['content_len'].values ]

In [83]:
formatted_df['alternative_white_space_middle_part_len'] = formatted_df['alternative_white_space_middle_part'].apply( len )

In [84]:
formatted_df['alternative_white_space_middle_part_len'].describe()

count    3286.000000
mean       27.902009
std        10.559110
min         0.000000
25%        20.000000
50%        29.000000
75%        35.000000
max        55.000000
Name: alternative_white_space_middle_part_len, dtype: float64

In [85]:
formatted_df.loc[ formatted_df['alternative_white_space_middle_part'] == "", 'alternative_white_space_middle_part' ] = " "

In [86]:
formatted_df['alternative_white_space_middle_part_len'] = formatted_df['alternative_white_space_middle_part'].apply( len )

In [87]:
formatted_df['alternative_white_space_middle_part_len'].describe()

count    3286.000000
mean       27.905965
std        10.548835
min         1.000000
25%        20.000000
50%        29.000000
75%        35.000000
max        55.000000
Name: alternative_white_space_middle_part_len, dtype: float64

In [88]:
formatted_df['alternative_white_space_middle_part_len']

table_index
3            0        55
             102      45
             103      38
             104      36
             105      41
                      ..
2253         59290    31
             59291    33
             59292    29
             59293    27
             59294    37
Name: alternative_white_space_middle_part_len, Length: 3286, dtype: int64

In [89]:
formatted_df['white_space_middle_part_len'] = formatted_df['white_space_middle_part'].apply( len )

In [90]:
(~(formatted_df['white_space_middle_part_len'] < formatted_df['alternative_white_space_middle_part_len'])).sum()

489

In [91]:
formatted_df['white_space_middle_part'] = formatted_df['white_space_middle_part'].where( 
    cond = formatted_df['white_space_middle_part_len'] < formatted_df['alternative_white_space_middle_part_len'],
    other = formatted_df['alternative_white_space_middle_part']
)

In [92]:
(formatted_df[ 'second_third_and_forth_part_len'] == 0).sum()

440

In [93]:
formatted_df[ 'line_completion' ] = '.'

In [94]:
formatted_df[ 'line_completion' ] = formatted_df[ 'line_completion' ].where(
    cond = formatted_df[ 'second_third_and_forth_part' ] == "",
    other = formatted_df['white_space_middle_part'] + formatted_df[ 'second_third_and_forth_part' ] + '.'
)

In [95]:
formatted_df[ 'full_line'] = formatted_df['first_part'] + formatted_df[ 'line_completion' ]

In [96]:
formatted_df[ 'full_line_len' ] = formatted_df[ 'full_line'].apply(len)

In [97]:
formatted_df[ 'full_line_len' ].describe()

count    3286.000000
mean       58.332319
std        12.994989
min        16.000000
25%        59.000000
50%        60.000000
75%        68.000000
max        95.000000
Name: full_line_len, dtype: float64

In [98]:
formatted_df[ 'full_line_len' ].sort_values()

table_index
3            0        16
899          0        17
894          0        18
879          0        18
878          0        18
                      ..
689          17665    85
787          20475    91
1472         39163    92
             39160    94
             39159    95
Name: full_line_len, Length: 3286, dtype: int64

In [99]:
formatted_df.sort_values('full_line_len' )['full_line'].tail(50)

table_index
726          19143                            022900          10  PRIN-RCVB-CUM                 PIC S9(10)V99 COMP-3.
             19106                            019200          10  DFRD-INT                      PIC S9(08)V99 COMP-3.
             19105                            019100          10  DFRD-PRIN-CRS                 PIC S9(08)V99 COMP-3.
             19104                            019000          10  DFRD-PRIN                     PIC S9(08)V99 COMP-3.
             19103                            018900          10  DFRD-INT-CRS                  PIC S9(08)V99 COMP-3.
             19102                            018800          10  INT-ACCRD-TO-LST-PRIN-DTE     PIC S9(08)V99 COMP-3.
             19099                            018500          10  INT-CRS-RCVB                  PIC S9(07)V99 COMP-3.
             19098                            018400          10  PRIN-CRS-RCVB                 PIC S9(08)V99 COMP-3.
             19095                            018100          10  INT-PD-HLDR                   PIC S9(07)V99 COMP-3.
             19094                            018000          10  PRIN-PD-HLDR                  PIC S9(08)V99 COMP-3.
             19109                            019500          10  DFRD-INT-INCM                 PIC S9(08)V99 COMP-3.
             19091                            017700          10  LN-AMT-PURCHD-BY-HLDR         PIC S9(08)V99 COMP-3.
             19080                            016600          10  LNDR-INT-RATE-NON-GUARNTD     PIC S99V9(04) COMP-3.
             19078                            016400              15  GUAR-LOSS-PCT-PD          PIC S999V9999 COMP-3.
             19077                            016300              15  RECPTR-PYMT-AMT           PIC S9(08)V99 COMP-3.
781          20395                            000500      05  ALTMT-4TH-ACCTG-PRD               PIC S9(10)V99 COMP-3.
726          19073                            015900              15  INT-EARNED-REFUND         PIC S9(07)V99 COMP-3.
             19072                            015800              15  INT-LOSS-PYMT-AMT         PIC S9(08)V99 COMP-3.
             19071                            015700              15  LOSS-PYMT-AMT             PIC S9(08)V99 COMP-3.
             19066                            015200              15  ORIG-MKT-VLU-GUARNTD      PIC S9(08)V99 COMP-3.
             19062                            014800              15  APPRSL-FEE-REPYMT         PIC S9(07)V99 COMP-3.
             19083                            016900      05  BORR-RCRD-TYP-3              REDEFINES BORR-RCRD-TYP-1.
             19111                            019700          10  ACCRD-LOST-INCM               PIC S9(08)V99 COMP-3.
             19115                            020100          10  SRVC-FEE-AMT                  PIC S9(08)V99 COMP-3.
             19120                            020600          10  UNEARND-SBSY                  PIC S9(06)V99 COMP-3.
             19142                            022800          10  RECPTR-RCVD-CUM               PIC S9(10)V99 COMP-3.
             19141                            022700          10  LOSS-PYMT-AMT-CUM             PIC S9(12)V99 COMP-3.
             19124                            021000      05  BORR-RCRD-TYP-4              REDEFINES BORR-RCRD-TYP-1.
             19131                            021700          10  BORR-RCRD-TYP-4B        REDEFINES BORR-RCRD-TYP-4A.
             19134                            022000          10  LN-AMT-CUM                    PIC S9(12)V99 COMP-3.
             19140                            022600          10  ADVNCS-BY-FMHA-CUM            PIC S9(08)V99 COMP-3.
             19135                            022100          10  PRIN-CR-CUM                   PIC S9(12)V99 COMP-3.
             19136                            022200          10  ACCRD-INT-CUM                 PIC S9(12)V99 COMP-3.
             19137                            022300          10  GUAR-FEE-CHGD-CUM             PIC S9(10)V99 COMP-3.
             19138                            022400          10  GUAR-FEE-PD-CUM               PIC S9(10)V99 COMP-3.
             19116                            020200          10  SRVC-FEE-PD                   PIC S9(08)V99 COMP-3.
             19139                            022500          10  GUARNTD-LN-SBSY-CUM           PIC S9(10)V99 COMP-3.
665          17055                         001700      05  ALTMT-LDGR-ADJMT-DTL OCCURS 10 DEPENDING ON NBR-OF-OCCURS.
1330         35095                      000400          10  SRVCG-OFC-CDE-AREA REDEFINES SRVCG-OFC-CDE-RGN PIC 9(03).
689          17715                    006900              15  DST-OFC-MAILG-FSA REDEFINES CTY-OFC-MAILG-FSA PIC 9(3).
659          16849                  002300              15  DST-OFC-MAILG-ACQD REDEFINES CTY-OFC-MAILG-ACQD PIC 9(3).
824          20966                001300      05  FRM-HSG-ACTV-GRP OCCURS 1500 DEPENDING ON MULTI-CARD-DATA-LGTH-106.
1472         39162                003300      05  STAT-OF-MTLY-UPDTE REDEFINES STAT-OF-MTLY-UPDTE-ALLOCCURS 12 PIC X.
             39158              002900      05  STAT-OF-WEEKS-UPDTE REDEFINES STAT-OF-WEEKS-UPDTE-ALLOCCURS 48 PIC X.
731          19540              003900          10  TRNSCTN-ELMT-FLD OCCURS 1800 DEPENDING ON NBR-OF-OCCURS PIC X(1).
689          17665              001900              15  DST-OFC-MAILG-CLIENT REDEFINES CTY-OFC-MAILG-CLIENT PIC 9(3).
787          20475        000400          10  MULTI-CARD-DATA OCCURS 1850 DEPENDING ON MULTI-CARD-DATA-LGTH PIC X(1).
1472         39163       003400      05  STAT-OF-MTLY-UPDTE-BY-QTR REDEFINES STAT-OF-MTLY-UPDTE-ALLOCCURS 4 PIC X(3).
             39160     003100      05  STAT-OF-WEEKS-UPDTE-BY-MO REDEFINES STAT-OF-WEEKS-UPDTE-ALLOCCURS 12 PIC X(4).
             39159    003000      05  STAT-OF-WEEKS-UPDTE-BY-QTR REDEFINES STAT-OF-WEEKS-UPDTE-ALLOCCURS 4 PIC X(12).
Name: full_line, dtype: object

In [101]:
formatted_df['full_line'].to_csv("2023-02-01_IDMS_Copybooks_FPAC_schemas.txt", header=False, index=False )

In [103]:
!head 2023-02-01_IDMS_Copybooks_FPAC_schemas.txt

000050 01  ACCT.
000100      05  GOVT-ACCT.
000200          10  ACCT                          PIC 9(4).
000300          10  SUB-ACCT                      PIC 99.
000400      05  OBJ-CLS                           PIC XX.
000500      05  AMT                               PIC 9(12)V99 COMP-3.
000600      05  DR-CR                             PIC X.
000700      05  FILLER                            PIC X(0023).
000050 01  APPEAL.
000100      05  APPEAL-NBR.

In [104]:
!wc -l 2023-02-01_IDMS_Copybooks_FPAC_schemas.txt

    3286 2023-02-01_IDMS_Copybooks_FPAC_schemas.txt